@footerWidth: 50px;
@font-face {
	font-family: BebasNeue;
	src: url("fonts/Bebas/BebasNeue.otf") format("opentype");
}
@font-face {
	font-family: 'PT Sans Regular Regular';
	src: url("fonts/PT Sans/PT_Sans-Web-Regular.ttf") format("truetype");
}
@font-face {
    font-family: 'droid_sans_monoregular';
    src: url('fonts/Droidsansmono/DroidSansMono-webfont.eot');
    src: url('fonts/Droidsansmono/DroidSansMono-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Droidsansmono/DroidSansMono-webfont.woff') format('woff'),
         url('fonts/Droidsansmono/DroidSansMono-webfont.ttf') format('truetype'),
         url('fonts/Droidsansmono/DroidSansMono-webfont.svg#droid_sans_monoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.arrowDown {
	background: url('icons/arrowNavDown.png') no-repeat center;
}
.arrowUp {
	background: url('icons/arrowNavUp.png') no-repeat center;
}
.arrowDown.white {
	background: url('icons/arrowNavDownWhite.png') no-repeat center;
	z-index: 10;
}
.arrowUp.white {
	background: url('icons/arrowNavUpWhite.png') no-repeat center;
	z-index: 10;
}
.arrowLeft {
	background: url('icons/arrowNavLeft.png') no-repeat center;
}
.arrowRight {
	background: url('icons/arrowNavRight.png') no-repeat center;
}
.bg{
	// background: #45484d; /* Old browsers */
	// background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
	// background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	// background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	// background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
	// background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
	// background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
	// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	background: url("img/2.gif") no-repeat;
	background-size: cover;
	&.articleMenu{
		background: url("hexMenuBg.jpg") no-repeat;
	}
}

.svgHexagon{
	background-size: contain;
}
.text{
	text-align: center;
	overflow-y:hidden;
	color:#F4E1E1;
	&.hextext{
		font-family: BebasNeue, monaco, monospace;
		line-height: 4.5vh;
		font-size: 4.5vh;
	}
}
.magazine-selection{
	text-align: center;
	overflow-y:hidden;
	color:#F4E1E1;
	&.article-name{
		font-family: BebasNeue, monaco, monospace;
		line-height: 6vh;
		font-size: 6vh;
		font-weight: normal;
	}
	&.description{
		// font-style: italic;
		font-family: 'PT Sans Regular';
		font-weight: normal;
		line-height: 3.5vh;
		font-size: 3.5vh;
	}
	&.article-menu{
		font-family: 'PT Sans Regular';
		font-weight: normal;
		color: rgb(17, 22, 22);
		line-height: 3.5vh;
		font-size: 3.5vh;
	}
	&.release{
		font-family: BebasNeue;
		font-size: 5.5vh;
		color:#2B2B2B;
	}
}
.article-description{
	text-align: center;
	&.name{
		font-family: BebasNeue;
		line-height: 5vh;
		font-size: 5vh;
		color: #23232e;
	}
	&.description{
		font-family: 'PT Sans Regular';
		color: #15191c;
		line-height: 4vh;
		font-size: 3.4vh;
		font-weight: 500;
	}
}
@articleHexWidth: 70vh;
.articleHex{
	// width: @articleHexWidth;
	// height:0.5856 * @articleHexWidth;
	// -ms-transform: scale(0.5,0.5); /* IE 9 */
	// -webkit-transform: scale(0.5,0.5); /* Safari */
	// transform: scale(0.5,0.5);
	background-size: contain;
}
.hexEl{
	display: inline-flex;
}

.wpmBox{
	font-family: BebasNeue;
	line-height: 35px;
	text-align: center;
	font-size: 4.5vh;;
	border-right: 2px solid black;
	border-left: 2px solid black;
	&.selected{
		opacity: 0.6;
	}
	&.withBorder.ifCollapsed{
		border-bottom-width: 0px;
		padding-bottom: 8vh;
	}
	&.withBorder{
		border: 2px solid black;
	}
	&:last-of-type{
		margin-bottom: 4.5vh;
		border-bottom: 2px solid black;
	}
}
// spritz


.speedReader{
	background-color: white;
	text-align: left;
	box-shadow:2px 2px 10px 10px #C9C9C9;
	-webkit-box-shadow:2px 2px 10px 10px #C9C9C9;
	-moz-box-shadow:2px 2px 10px 10px #C9C9C9;
	line-height: 50px;
	font-family: 'droid_sans_monoregular', sans-serif;
	font-size: 4vh;
	overflow: hidden;
	.arrow{
		color: #989898
	}
	.spritz_start{
	    color: #333333;
	}
	.spritz_pivot{
	    color: #DE0000;
	}
	.invisible{
	    color: white;
		position: static;
		visibility: hidden;
	}
	.spritz_end{
	    color: #333333;
	}
}

.hexFooter {
	text-align: center;
	line-height: @footerWidth - 15;
	font-size: 23px;
	font-family: BebasNeue;
	color:#29272e;
	z-index: 5;
	&:before,&:after {
		z-index: 5;
	    width: 0;
	    content:'';
	    height: 0;
	    position:absolute;
	    border-left: @footerWidth/2 solid transparent;
	  	border-right: @footerWidth/2 solid transparent;
	    border-bottom: @footerWidth  solid #29272e;
	}
	&:before{
	    left:-@footerWidth / 2;
	}
	&:after{
	    top:0px;
		right:-@footerWidth / 2;
	}
	& i {
		/*position: absolute;
		bottom: 0px;*/
		font-size:20px;
	}
}
.textSwapper{
	border-radius: 50px;
	background-color: #080908;
  	background-size: contain;
}
.staticText{
	line-height: 5vh;
	font-family: 'PT Sans Regular Regular', cursive;
}
.audioButtons{
	font-size: 35px;
	line-height: 35px;
	color: #080908;
}
.duration{
	background-color: #080908;
}
.kugle{
	border-radius: 15px;
}
.durationTime{
	font-family: BebasNeue;
}
.textTmpl{
	line-height: 35px;
	&.footer{
		background-color: rgba(87, 82, 81, 0.8);
	}
	&.close{
		border-radius: 35px;
		background-color: #0d0e0c;
		& div {
			text-align: center;
			font-size: 20px;
			color: white;
		}
	}
	&.arrow{
		font-size: 30px;
	}
}
