@footerWidth: 50px;
@font-face {
	font-family: BebasNeue;
	src: url("fonts/Bebas/BebasNeue.otf") format("opentype");
}
@font-face {
	font-family: 'PT Sans Regular Regular';
	src: url("PT_Sans-Web-Regular.ttf") format("truetype");
}
.arrowDown {
	background: url('icons/arrowNavDown.png') no-repeat center;
}
.arrowUp {
	background: url('icons/arrowNavUp.png') no-repeat center;
}
.arrowDown.white {
	background: url('icons/arrowNavDownWhite.png') no-repeat center;
	z-index: 10;
}
.arrowUp.white {
	background: url('icons/arrowNavUpWhite.png') no-repeat center;
	z-index: 10;
}
.arrowLeft {
	background: url('icons/arrowNavLeft.png') no-repeat center;
}
.arrowRight {
	background: url('icons/arrowNavRight.png') no-repeat center;
}
.bg{
	background: #45484d; /* Old browsers */
	background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	&.articleMenu{
		background: url("hexMenuBg.jpg") no-repeat;
	}
}

.svgHexagon{
	background-size: contain;
}
.text{
	text-align: center;
	overflow-y:hidden;
	color:#F4E1E1;
	&.hextext{
		font-family: BebasNeue, monaco, monospace;
		line-height: 4.5vh;
		font-size: 4.5vh;
	}
} 
.magazine-selection{
	text-align: center;
	overflow-y:hidden;
	color:#F4E1E1;
	&.article-name{
		font-family: BebasNeue, monaco, monospace;
		line-height: 6vh;
		font-size: 6vh;
		font-weight: normal;
	}
	&.description{
		// font-style: italic;
		font-family: 'PT Sans Regular';
		font-weight: normal;
		line-height: 3.5vh;
		font-size: 3.5vh;
	}
	&.article-menu{
		font-family: 'PT Sans Regular';
		font-weight: normal;
		color: rgb(17, 22, 22);
		line-height: 3.5vh;
		font-size: 3.5vh;
	}
	&.release{
		font-family: BebasNeue;
		font-size: 5.5vh;
	}
}
.article-description{
	text-align: center;
	&.name{
		font-family: BebasNeue;
		line-height: 5vh;
		font-size: 5vh;
		color: #23232e;
	}
	&.description{
		font-family: 'PT Sans Regular';
		color: #15191c;
		line-height: 4vh;
		font-size: 3.4vh;
		font-weight: 500;
	}
}
@articleHexWidth: 70vh;
.articleHex{
	// width: @articleHexWidth;
	// height:0.5856 * @articleHexWidth;
	// -ms-transform: scale(0.5,0.5); /* IE 9 */
	// -webkit-transform: scale(0.5,0.5); /* Safari */
	// transform: scale(0.5,0.5);
	background-size: contain;
}
.hexEl{
	display: inline-flex;
}

.hexFooter {
	text-align: center;
	line-height: @footerWidth - 15;
	font-size: 23px;
	font-family: BebasNeue;
	color:#29272e;
	z-index: 5;
	&:before,&:after {
		z-index: 5;
	    width: 0;
	    content:'';
	    height: 0;
	    position:absolute;
	    border-left: @footerWidth/2 solid transparent;
	  	border-right: @footerWidth/2 solid transparent;
	    border-bottom: @footerWidth  solid #29272e;
	}
	&:before{
	    left:-@footerWidth / 2;
	}
	&:after{
	    top:0px;
		right:-@footerWidth / 2;
	}
	& i {
		/*position: absolute;
		bottom: 0px;*/
		font-size:20px;
	}


}
